*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    background: var(--bg);
    color: var(--text);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
nav{
    height: 100px;
    width: 100%;
    background: var(--bg-nav);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    
}


header{
    padding: 100px 100px;
    text-align: center;
    background: var(--bg-nav);
}

h1{
    margin-bottom: 50px;
}
.e{
    padding: 100px 0;
}


:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;
}

.light {
    --bg: var(--gray0);
    --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--blue);
    --bg-solar: var(--yellow);
}
.dark {
    --bg: var(--gray5);
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
    --bg-solar: var(--blue);
}



@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}


.logo:hover {
    animation: color-rotate 1s;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
}
.logo{
    width: 150px;
}






